<!-- -->
<ion-content class="auth-page">
  <div class="login-content">
      <ion-buttons left>
          <button navPop ion-button icon-only>
            <ion-icon color="light" name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
    <div padding text-center>
      <!-- <div class="logo"></div> -->
      <h2 ion-text class="text-primary">
        <strong>Add Alert</strong>
      </h2>
    </div>

    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon item-start class="text-primary"></ion-icon>
          Enter Alert Name
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <br><br>
      <h1 ion-text class="text-primary">
        <strong>Alert When</strong>
      </h1>

      <ion-item-group>
        <ion-item>
          <ion-label>Stock</ion-label>
          <ion-select cancelText="Cancel" okText="OK">
            <ion-option value="1" selected="true">English (US)</ion-option>
            <ion-option value="2">English (UK)</ion-option>
            <ion-option value="3">English (CA)</ion-option>
            <ion-option value="4">English (AU)</ion-option>
           



          </ion-select>
        </ion-item>

      </ion-item-group>
      <h1 ion-text class="text-primary">
        <strong>Is</strong>
      </h1>

      <ion-item-group>
        <ion-item>
          <ion-label>Grater</ion-label>

          <ion-select cancelText="Cancel" okText="OK">
            <ion-option value="1" selected="true"><</ion-option>
                <ion-option value="2">></ion-option>
                <ion-option value="3">>=</ion-option>       
                <ion-option value="4"><=</ion-option>
                <ion-option value="5">>=</ion-option>

          </ion-select>

        </ion-item>

      </ion-item-group>

      <h1 ion-text class="text-primary">
        <strong>Than</strong>
      </h1>



      <ion-item>
        <ion-label floating>
          <ion-icon name="values" item-start class="text-primary"></ion-icon>
          Value
        </ion-label>
        <ion-input type="value"></ion-input>
      </ion-item>
      <ion-item>
      <button ion-button icon-start block color="dark" tappable>
          <ion-icon name="log-in"></ion-icon>
         Save
        </button>
      </ion-item>
    </form>

  </div>
</ion-content>